Import-Module ADDSDeployment

function InstallADDomain{
    $parent_user = "Administrator@{{ ad_opts.ParentDomainName }}"
    $parent_password = ConvertTo-SecureString -String "Secret123" -AsPlainText -Force
    $credential = New-Object System.Management.Automation.PSCredential($parent_user, $parent_password)

    Install-ADDSDomain -Force -NoRebootOnCompletion:$true -InstallDNS:$true -Credential: $credential
    {%- for key, value in ad_opts.items() -%}
    {%- if key == 'SafeModeAdministratorPassword' %}
    -{{ key }} (ConvertTo-SecureString -AsPlainText -Force -String "{{ value }}")
    {%- else %}
    -{{ key }} "{{ value }}"
    {%- endif -%}
    {%- endfor -%}
}

InstallADDomain

